<div class="mt-1">
    <div class="text-center p-5">
        <h1 class="m-5" style="font-size: 5rem; font-weight: 200;">Status Panel</h1>
        <h1>Protected routes</h1>
    </div>
</div>
<router-outlet></router-outlet>
<div class="card text-center" style="position: absolute; width:600px; height:120px; bottom:20px; right:22%;">
    <h2>CanActivateChild</h2>
    <p>Mira si el usuario puede acceder a las páginas hijas de una determinada ruta.</p>
    <p>Se puede implementar para que decida si se puede activar una ruta secundaria.</p>
</div>