.access-container{
    display: flex;
    justify-content: center;
    .access-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    .access-logged{
        font-size: large;
        color: rgb(50, 205, 58);
        border: 1px solid rgb(50, 205, 58);
    }
    .access-admin{
        font-size: large;
        color: rgb(236, 41, 41);
        border: 1px solid rgb(236, 41, 41);
    }
    .access-standard{
        font-size: large;
        color: rgb(246, 166, 18);
        border: 1px solid rgb(246, 166, 18);
    }
    .access-regular{
        font-size: large;
        color: rgb(71, 18, 246);
        border: 1px solid rgb(71, 18, 246);
    }
    .access-deudor{
        font-size: large;
        color: rgb(246, 18, 113);
        border: 1px solid rgb(246, 18, 113);
    }
}