<mat-drawer-container class="example-container">
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <app-cpanel></app-cpanel>
  </mat-drawer>
  <mat-drawer-content>
   <div>
    <router-outlet></router-outlet>
  </div>
  </mat-drawer-content>
</mat-drawer-container>
<div class="button-container">
  <div class="example-button-container menu-button">
    <button mat-fab (click)="drawer.toggle()" color="primary" aria-label="Example icon button with a home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
  </div>
</div>